@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber";
@import "./flex.css";

html {
  font-family: "Poppins";
}

mat-card {
  border-radius: 25px !important;
  margin: 12px;
}

.app-title {
  font-weight: 600;
  padding: 10px;
  padding-left: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 25px;
}

.pointer {
  cursor: pointer;
}

mat-drawer-container {
  position: absolute !important;
  top: 0;
  width: 100%;
  bottom: 0;
}

.bold {
  font-weight: bold;
}

.mat-icon {
  vertical-align: middle;
}
