<mat-drawer-container>
    <mat-drawer style="width: 160px;" #drawer mode="side" opened>
        <h4 style="margin: 15%; margin-bottom: 50px;">MovieMania</h4>

        <div style="margin:15%" class="pointer" (click)="navigate(sidebar.url)" *ngFor="let sidebar of sidebars">
            <div [ngStyle]="{ color: sidebar.selected ? '#2497E9' : 'black' }">
                {{sidebar.display}}
            </div>
        </div>
        <div *ngIf="appConstant.loggedInUser && appConstant.loggedInUser.id" style="margin:15%; margin-top:100%"
            class=" pointer" (click)="logout()">
            Logout<span>
                <mat-icon aria-hidden="false">logout</mat-icon>
            </span>
            <div><strong>{{appConstant.loggedInUser.name}}</strong></div>
        </div>
        <div *ngIf="!appConstant.loggedInUser || !appConstant.loggedInUser.id" style="margin:15%; margin-top:100%"
            class="pointer" (click)="navigate('/login')">
            Login<span>
                <mat-icon aria-hidden="false">login</mat-icon>
            </span>
        </div>


    </mat-drawer>
    <router-outlet></router-outlet>

</mat-drawer-container>

<div [ngClass]="{'load-message': loading}">
    <mat-spinner diameter="30"></mat-spinner>
    <div class="message-text"> Loading.. Please wait.. </div>
</div>