.load-message {
  z-index: 1100;
  position: absolute;
  width: 25%;
  background-color: rgb(233 237 241);
  height: 40px;
  top: 40%;
  left: 46%;
  border-radius: 20px;

  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.message-text {
  margin-left: 20px;
}
