<form [formGroup]="form">
    <fieldset>
        <legend><strong>Login</strong></legend>
        <div class="form-field">
            <label style="padding-right: 29px;">Email:</label>
            <input name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input name="password" formControlName="password" type="password">
        </div>
        <div *ngIf="!validForm" style="color: red;"><b>Invalid credentials</b></div>
    </fieldset>
    <div class="form-buttons">
        <button mat-raised-button class="button button-primary" (click)="login()">Login</button>
    </div>
</form>